._acc8{background-color:rgb(var(--ig-primary-background));border-top:1px solid rgba(var(--web-always-black), .0975);bottom:44px;opacity:.97;position:fixed;width:100%}._abpk{bottom:50px}._ag6v{bottom:0}@supports (margin-bottom: env(safe-area-inset-bottom)){._acc8{margin-bottom:env(safe-area-inset-bottom)}}
._ac6x{-webkit-touch-callout:none}._ac6y{-webkit-user-select:none}/*FB_PKG_DELIM*/

#bootloader_pKUOKAC{height:42px;}.bootloader_pKUOKAC{display:block!important;}